$color__skin: #f1eab4; // Header, etc
$color__navigation: #fcb900;


$color__background-body: #ffffff;
$color__background-screen: #ffffff;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #404040;
$color__link-visited: #800080; //purple
$color__link-hover: #cc9900; //dark gold
$color__text-main: #404040;
$color__link-underline: #cc9900;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__cat-links-default: #cc9900; //dark gold
$color__cat-links-hover: #e3e3e3; //grey off-white

$color__program-sidebar-background: #404040;
$color__program-sidebar-text: #fff;