.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.site-main-program {
	margin-left: 2.5%;
	width: 75%;
	a {					//add underlines to links on the posts page only (else they get added to buttons on other pages as well)
		text-decoration: underline;
		text-decoration-color: $color__link-underline;
	}
}

//sidebar from program page
@media screen and (min-width: 720px) {
	#program-secondary {
		width: 25%;
		right: 0;
		position: fixed;
		background-color: $color__program-sidebar-background;
		color: $color__program-sidebar-text;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		a {
			text-decoration: none;
		}
	}
}


.cat-links {
	a {
		border-right: 10px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 5px;
		background-color: lighten($color__cat-links-default, 20%);
		color: white;
		border-radius: 5px;

		&:hover {
			background-color: $color__cat-links-hover;
			color: $color__cat-links-default;
		}
	}
}

.entry-title {
	margin: .125em 0 .25em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
